<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<div class="navbar-fixed" th:fragment="navbar">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">gif<span>.</span>lib</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/}? '':'un')+'active'">
                    <a th:href="@{/}">Explore</a></li>
                <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/categories}? '':'un')+'active'">
                    <a th:href="@{/categories}">Categories</a></li>
                <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/favorites}? '':'un')+'active'">
                    <a th:href="@{/favorites}">Favorites</a></li>
                <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/upload}? '':'un')+'active'">
                    <a th:href="@{/upload}">Upload gif</a></li>
            </ul>

            <ul id="mobile-nav" class="side-nav">
            <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/}? '':'un')+'active'">
                <a th:href="@{/}">Explore</a></li>
            <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/categories}? '':'un')+'active'">
                <a th:href="@{/categories}">Categories</a></li>
            <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/favorites}? '':'un')+'active'">
                <a th:href="@{/favorites}">Favorites</a></li>
            <li th:class="(@{${#httpServletRequest.requestURI}}==@{~/upload}? '':'un')+'active'">
                <a th:href="@{/upload}">Upload gif</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>