<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>giflib | Home</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="flash-message container">
    <div class="row">
        <div class="message-text">
            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>
        </div>
    </div>
</div>

<div class="upload container">
    <h3>Please select gif you want to upload</h3>
    <form method="post" action="doUpload" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Pick file:</td>
                <td><input type="file" name="fileUpload"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>
</div>



<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>